/* layout */
.g-left {position: relative; float: left; width: 740px; margin-right: -742px; height: 290px;}
.g-right {float: right; width: 100%;}
.g-rightc {margin-left: 750px; height: 290px;}

.g-left1,
.g-rightc1 {height: 260px;}
.g-left1 {width: 560px; margin-right: -562px;}
.g-rightc1 {margin-left: 570px;}

/* common */
.m-vow, 
.m-list, 
.m-acts{height: 100%;}

.s-header {position: relative;height: 30px; border-bottom: 1px solid #d5d5d5; background: url(../images/ico-bg.png) 0 -40px repeat-x;}
.s-header1 {height: 35px;background-position: 0 -73px;}
.s-more {float: right; width: 34px; height: 11px; margin-right: 6px; margin-top: 8px; background: url(../images/icon.png) 0 -35px no-repeat;}
.s-title {position: absolute; left: 5px; top: -4px; width: 160px; height: 30px; background: url(../images/icon.png) no-repeat; text-align: center; line-height: 30px; color: #fff;}


/* vow 志愿者宣言 */
.m-vow .title {margin-left: 4px; margin-top: 3px;}
.m-vow .content {color: #707070; line-height: 1.8; text-indent: 2em; height: 217px;}

/* list 列表 信息动态 */
.m-list .content {padding: 25px 20px;}
.m-list .content li {list-style: square inside; color: #c01d0c; margin-bottom: 10px;}
.m-list .content li:last-child {margin-bottom: 0;}
.m-list .content a, 
.m-list .time {color: #6e6e6e;}
.m-list .content a:hover {text-decoration: underline;}
.m-list .time {float: right;}

/* acts 主题活动 */
.m-acts .content {padding: 10px; text-align: center;}
.m-acts .content img {display: block; width: 100%; height: 178px; margin-bottom: 10px;}
.m-acts a {*color: #333;}
.m-acts .g-grid>a {*width: 190px;}

/* show 志愿活动展示 */
.m-show {height: 255px;}
.m-show .s-header {padding-left: 15px; color: #4c4c4c; font-weight: bold; line-height: 35px;}
.m-show .title {color: #b30a00; margin-right: 35px;}
.m-show .dec {display: inline-block; width: 4px; height: 13px; vertical-align: middle; margin-right: 7px; background: url(../images/icon.png) -40px -35px no-repeat;}
.m-show .content {padding: 25px 25px;}
.m-show .content img {display: block; height: 145px; margin-bottom: 7px;}
.m-show .g-grid a {*color: #4c4c4c; *width: 220px;}

/* footer */
.m-footer {margin-top: 75px;}

/* tab 切换 */
.j-tab-ctn>li {display: none;}
.j-tab-ctn .j-cur {display: block;}

.m-tab .s-header {padding-left: 17px; font-weight: bold;}
.m-tab .dec {float: left; width: 12px; height: 12px; background: url(../images/icon.png) -70px -35px no-repeat; margin-top: 11px;}
.m-tab .j-tab-btn {float: left; line-height: 35px;}
.m-tab .j-tab-btn>li {float: left; margin-right: 24px;cursor: pointer; padding: 0 10px;}
.m-tab .j-tab-btn>li:hover,
.m-tab .j-tab-btn>li.j-cur {position: relative;color: #b40900; border-bottom: 2px solid #b40900; margin-bottom: -2px;}
.m-tab .g-left1, 
.m-tab .g-rightc1 {height: 220px;}

/* avalist 头像列表 武昌好人 */
.m-avalist {padding: 15px 25px;}
.m-avalist .avatar {display: block; width: 100%; height: 163px;}
.m-avalist .name {text-align: center; margin-top: 14px;}

/* slider */
.m-slider {width: 701px; height: 251px; margin: 10px auto 0 auto; background: #e9e8e6; padding: 7px;}
.m-slider .wrap {position: relative; height: 100%; background: #fff;}
.m-slider .ctn, 
.m-slider .ctn li, 
.m-slider .ctn img {width: 100%; height: 100%;}
.m-slider .ctn li {position: absolute; display: none; left: 0; top: 0;}
.m-slider .ctn li.cur {display: block;}
.m-slider .ctn p {position: absolute; left: 0; bottom: 0; width: 100%; height: 35px; line-height: 35px; color: #fff; text-align: center; background: url(../images/ico-bg.png) 0 -108px repeat-x;}

.m-slider .control {position: absolute; z-index: 1; right: 1px; bottom: 1px;}
.m-slider .control i {float: left; width: 21px; height: 13px; margin-left: 1px; padding-top: 2px; cursor: pointer; color: #fff; background: #000; line-height: 13px; text-align: center; font-size: 10px; font-family: "Microsoft YaHei"}
.m-slider .control i.cur {padding-top: 2px; background: url(../images/slider-ico.png) no-repeat;}

/* banner 另一个轮播图*/
.m-banner {position: relative; height: 130px;}
.m-banner .ctn {height: 100%;}
.m-banner .ctn li {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.m-banner .ctn img {width: 100%; height: 100%;}
.m-banner .control {position: absolute; bottom: 10px; left: 50%; text-align: center;}
.m-banner .control i {float: left; width: 7px; height: 7px; background: #fff; margin-right: 6px; cursor: pointer;}
.m-banner .control i:last-child {margin-right: 0;}
.m-banner .control i.cur {background: #fef00b;}